.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.main{
  max-width: 450px;
  border: 2px solid grey;
  padding: 50px;
  padding-top: 10px;
  /* margin-top: 50px; */
  color: black;
}
.main > button{
  border: 0px;
  background-color: white;
}
.Card_Wraper{
  border: 1px solid grey;
  cursor: pointer;
}
.selected{
  border: 5px solid black;
  cursor: pointer;
}
.Inc_Dec_Wrap{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.Inc_Dec{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #E5E4E2;
  padding: 2px 0px;
  border-radius: 5px;
  width: 100%;
}
.Inc_Dec > .Inc{
  border: 0px;
  background-color: #E5E4E2;
  font-size: 30px;
  padding-left: 10px;
}
.Inc_Dec > .Dec{
  border: 0px;
  background-color: #E5E4E2;
  font-size: 30px;
  padding-right: 10px;
}
.Vote_Data{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Vote_Data > p {
  padding: 0px;
  margin: 0px;
  font-size: 10px;
  color: gray;
}
.Vote_Data > h5 {
  padding: 0px;
  margin: 0px;
}
.Vote_Button{
  background-color: black;
  color: white;
  width: 100%;
  padding: 10px 0px;
  border-radius: 5px;
  border: 0px;
  margin-top: 10px;
}
.Tip_Content{
  font-size: 10px;
  color: black;
}

